body{
    background-color:rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#container{
    color:silver;


}

.digit{
    font-weight: bold;
    font-size: 150px;

}

.text{
    font-size: 40px;
    font-weight: bold;

}

#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}

#start{
    background-color: #1abc69;

}
#stop{
    background-color: #3498db;

}
#reset{
    background-color: red;

}